// Color Palette
$dark:                      #262626;
$light:                     #D8D9C5;
$gray:                      #F2F2f2;
$claret:                    #741e29;
$dark-green:                #3E3F2D;

// Messages
$color-success:             #36BF7F;
$color-warning:             #F2E205;
$color-important:           #F23D3D;

