/*  RESET */
* {
  color: inherit;
  margin: 0;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
body {
  line-height: 1;
  background: $dark;
  color: $light;
  font-family: map-get($fonts, 'barlow');
}