@import 'base/reset';
@import 'base/variables';
@import 'base/typo';

@import 'layout/breakpoints';
@import 'layout/grid';

@import 'components/accordion';


body {
  background: $dark;
  color: $light;
  font-family: map-get($fonts, 'barlow');
}