/*  RESET */
@import url("https://use.typekit.net/ezz6wym.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600&display=swap");
* {
  color: inherit;
  margin: 0;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*  TIPOGRAPHY */
h1 {
  font-family: kepler-std;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -7px;
  font-size: 4rem;
}

/* GRID */
.container {
  width: 100%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
@media (max-width: 576px) {
  .row {
    gap: 0;
  }
}
.row .col {
  padding: 20px;
  border: 1px solid rgba(216, 217, 197, 0.3);
}
.row .col.size-1 {
  grid-column: span 1;
}
@media (max-width: 576px) {
  .row .col.size-1 {
    grid-column: span 12;
  }
}
.row .col.size-2 {
  grid-column: span 2;
}
@media (max-width: 576px) {
  .row .col.size-2 {
    grid-column: span 12;
  }
}
.row .col.size-3 {
  grid-column: span 3;
}
@media (max-width: 576px) {
  .row .col.size-3 {
    grid-column: span 12;
  }
}
.row .col.size-4 {
  grid-column: span 4;
}
@media (max-width: 576px) {
  .row .col.size-4 {
    grid-column: span 12;
  }
}
.row .col.size-5 {
  grid-column: span 5;
}
@media (max-width: 576px) {
  .row .col.size-5 {
    grid-column: span 12;
  }
}
.row .col.size-6 {
  grid-column: span 6;
}
@media (max-width: 576px) {
  .row .col.size-6 {
    grid-column: span 12;
  }
}
.row .col.size-7 {
  grid-column: span 7;
}
@media (max-width: 576px) {
  .row .col.size-7 {
    grid-column: span 12;
  }
}
.row .col.size-8 {
  grid-column: span 8;
}
@media (max-width: 576px) {
  .row .col.size-8 {
    grid-column: span 12;
  }
}
.row .col.size-9 {
  grid-column: span 9;
}
@media (max-width: 576px) {
  .row .col.size-9 {
    grid-column: span 12;
  }
}
.row .col.size-10 {
  grid-column: span 10;
}
@media (max-width: 576px) {
  .row .col.size-10 {
    grid-column: span 12;
  }
}
.row .col.size-11 {
  grid-column: span 11;
}
@media (max-width: 576px) {
  .row .col.size-11 {
    grid-column: span 12;
  }
}
.row .col.size-12 {
  grid-column: span 12;
}
@media (max-width: 576px) {
  .row .col.size-12 {
    grid-column: span 12;
  }
}

/* ACCORDION */
body {
  background: #262626;
  color: #D8D9C5;
  font-family: Barlow Condensed;
}

/*# sourceMappingURL=main.css.map */
